<aside class="sidebar">

    <!------------------------------------------ HEADER ------------------------------------------->
    <div class="sidebar-header">
        <button class="compose-btn" matTooltip="Compose a new email" matTooltipPosition="below" (click)="openCompose()">
            <mat-icon>edit</mat-icon>
            <span>Compose</span>
        </button>
    </div>


    <!------------------------------------------ CONTENUTO ------------------------------------------->

    <!------------------------------- SYSTEM FOLDERS ---------------------------------------->
    <div class="sidebar-content">

        <app-folder-list-component [folders]="systemFolderGroup().visible"
            (folderSelected)="onFolderSelected($event)"></app-folder-list-component>


        @if(systemFolderGroup().hasMore) {

        <button class="toggle-btn" (click)="showMoreSystemFolders.set(!showMoreSystemFolders())">

            <mat-icon>
                {{ showMoreSystemFolders() ? 'expand_less' : 'expand_more' }}
            </mat-icon>

            <span>
                {{ showMoreSystemFolders() ? 'Show less' : 'Show more' }}
            </span>

        </button>

        }

        @if (showMoreSystemFolders()) {

        <app-folder-list-component [folders]="systemFolderGroup().hidden"
            (folderSelected)="onFolderSelected($event)"></app-folder-list-component>
        }

        <!--------------------- LINEA DI DIVISIONE ----------------------->
        <div class="divider"></div>

        <!------------------------------- CUSTOM FOLDERS ---------------------------------------->
        <div class="custom-folders">

            <span>Custom folders</span>

            <button class="add-folder-btn" (click)="openCreateFolderDialog()">
                <mat-icon>add</mat-icon>
            </button>

        </div>

        <app-folder-list-component [folders]="customFolderGroup().visible" (folderSelected)="onFolderSelected($event)">
        </app-folder-list-component>

        @if (customFolderGroup().hasMore){

        <button class="toggle-btn" (click)="showMoreCustomFolders.set(!showMoreCustomFolders())">

            <mat-icon>
                {{ showMoreCustomFolders() ? 'expand_less' : 'expand_more'}}
            </mat-icon>

            <span>
                {{ showMoreCustomFolders() ? 'Show less' : 'Show more'}}
            </span>

        </button>

        }

        @if (showMoreCustomFolders()){

        <app-folder-list-component [folders]="customFolderGroup().hidden"
            (folderSelected)="onFolderSelected($event)"></app-folder-list-component>

        }

    </div>

</aside>
