.sidebar {
    width: 250px;
    height: calc(100vh - 64px);

    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(248, 240, 240);
}


//////HEADER/////
.sidebar-header {
    flex-shrink: 0;
    padding-top: 20px;
}


//////CONTENT/////
.sidebar-content {
    flex: 1;
    overflow-y: auto;

    // Nascondo la scrollbar in...
    -ms-overflow-style: none; // Internet Explorer e Edge
    scrollbar-width: none; // Firefox
}

.sidebar-content::-webkit-scrollbar {
    display: none; // Chrome, Safari e Opera 
}


/////BOTTONE COMPOSE/////
.compose-btn {
    height: 53px;
    margin-bottom: 16px;
    padding: 0 24px;

    display: flex;
    align-items: center;
    align-content: center;
    gap: 12px;

    border: 3px outset black;
    border-radius: 8px;

    background-color: rgb(221, 200, 200);

    cursor: pointer;

    font-size: 20px;
    font-weight: 500;
}

.compose-btn:hover {
    box-shadow: 0 1px 3px rgb(222, 175, 175);
    background-color: rgb(248, 221, 221);
}


/////NUMERO EMAIL NON LETTE/////
.count {
    font-size: 12px;
    font-weight: 600;
    color: black;
}


/////BOTTONE TOGGLE/////
.toggle-btn {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 8px;

    padding: 8px 16px;

    border: none;
    border-radius: 8px;
    background: transparent;

    cursor: pointer;

    color: #5f6368;
    font-size: 14px;
    border-bottom: solid 2px transparent;
}

.toggle-btn:hover {
    box-shadow: 0 1px 3px rgb(222, 175, 175); //1px sig
    background-color: rgb(243, 224, 224);
    border-bottom: solid 2px rgb(222, 175, 175);
}


/////LINEA DIVISORIA/////
.divider {
    height: 1px;
    margin: 16px 12px;
    background: rgba(0, 0, 0, 0.15);
}


/////CARTELLE CUSTOM/////
.custom-folders {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 0 12px;

    margin-top: 12px;
    margin-bottom: 8px;

    font-size: 14px;
    font-weight: 600;

    color: #5f6368;
}


/////BOTTONE AGGIUNGI CARTELLA/////
.add-folder-btn {
    width: 26px;
    height: 26px;
    border: none;
    background: transparent;

    cursor: pointer;

    color: #5f6368;
    font-size: 14px;
    margin-left: 8px;
    padding: 0;
}

.add-folder-btn:hover {
    border-radius: 50%;
    box-shadow: 0 1px 3px rgb(222, 175, 175);
    background-color: rgb(248, 221, 221);

    // se voglio che l'icona sia centrata all'interno dell'hover
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px rgb(222, 175, 175);
}