<aside class="sidebar">

    <!------------------------------------------ HEADER ------------------------------------------->
    <div class="sidebar-header">
        <button class="compose-btn" matTooltip="Compose a new email" matTooltipPosition="below" (click)="openCompose()">
            <mat-icon>edit</mat-icon>
            <span>Compose</span>
        </button>
    </div>


    <!------------------------------------------ CONTENUTO ------------------------------------------->

    <!------------------------------- SYSTEM FOLDERS ---------------------------------------->
    <div class="sidebar-content">
        <app-folder-list-component [folders]="visibleSystemFolders()"
            (folderSelected)="onFolderSelected($event)"></app-folder-list-component>

        <button class="toggle-btn" (click)="showMoreFolders.set(!showMoreFolders())">
            <mat-icon>
                {{ showMoreFolders() ? 'expand_less' : 'expand_more' }}
            </mat-icon>

            <span>{{ showMoreFolders() ? 'Show less' : 'Show more' }}</span>
        </button>

        @if (showMoreFolders()) {
        <app-folder-list-component [folders]="hiddenSystemFolders()"
            (folderSelected)="onFolderSelected($event)"></app-folder-list-component>
        }

        <!--------------------- LINEA DI DIVISIONE ----------------------->
        <div class="divider"></div>

        <!------------------------------- CUSTOM FOLDERS ---------------------------------------->
        <div class="custom-folders">

            <span>Custom folders</span>

            <button class="add-folder-btn" (click)="openCreateFolderDialog()">

                <mat-icon>add</mat-icon>

            </button>

        </div>

        <app-folder-list-component [folders]="customFolders()" (folderSelected)="onFolderSelected($event)">
        </app-folder-list-component>

    </div>

</aside>