.layout-container {
  display: flex;
  height: 100vh;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}



//////////////////////////////////////////////COMMENTI////////////////////////////////////////////////////////
/// 
/// flex: 1; significa che l'elemento principale (main-container) occuperà tutto lo spazio disponibile all'interno del contenitore genitore (layout-container). 
/// In altre parole, il main-container si espanderà per riempire lo spazio rimanente dopo che gli altri elementi (come l'header e il footer) hanno preso il loro spazio.
/// 
/// overflow: hidden; impedisce al contenuto di fuoriuscire dai bordi del contenitore principale, nascondendo eventuali elementi che eccedono le dimensioni del contenitore.