.compose-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    background: rgb(236, 226, 226);
    font-weight: 500;
}

.body {
    display: flex;
    flex-direction: column;
    padding: 10px 12px;
    flex-grow: 1;

    input {
        border: none;
        border-bottom: 1px solid #ccc;
        padding: 8px;
        outline: none;
    }

    textarea {
        margin-top: 10px;
        border: none;
        resize: none;
        height: 150px;
        outline: none;
        border-bottom: 1px solid #ccc;
    }
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.send-btn {
    background: rgb(222, 178, 178);
    color: white;
    border: 2px outset rgb(226, 149, 149);
    padding: 8px 16px;
    border-radius: 14px;
    cursor: pointer;
}


.close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
    background-color: rgb(248, 221, 221);
    border-radius: 50%;
}