<header class="header">

    <div class="header-left">

        <div class="logo">
            <span class="logo-icon">📧</span>
            <span class="logo-text">Mail Client</span>
        </div>
    </div>


    <div class="header-center">
        <div class="search-box">
            <input type="text" placeholder="Cerca" />
        </div>

        <div class="search-icon"><span>🔍</span></div>

    </div>


    <div class="header-right">
        <!-- <button class="icon-btn">
            ❓
        </button> -->

        <button class="icon-btn">
            ⚙️
        </button>

        <button class="icon-btn">
            🔔
        </button>


        <div class="user-avatar">
            <span class="avatar-icon">👤</span>
        </div>
    </div>

</header>