<header class="header">

    <div class="header-left">

        <div class="logo">
            <mat-icon fontSet="material-symbols-outlined">mail</mat-icon>
            <span class="logo-text">NoGmail</span>
        </div>
    </div>


    <div class="header-center">
        <div class="search-box">
            <!-- <input type="text" placeholder="Search" (input)="onSearch($event.target.value)"/> -->
            <!-- <input type="text" placeholder="Search" #searchInput (input)="onSearch(searchInput.value)"/> -->
            <input type="text" placeholder="Search" #searchInput (keyup.enter)="onSearch(searchInput.value)" />

            <button class="icon-btn" matTooltip="Filter by" matTooltipPosition="below"
                [matMenuTriggerFor]="filterMenu"><mat-icon fontSet="material-symbols-outlined"
                    style="transform: rotate(90deg);">instant_mix</mat-icon></button>
        </div>

        <!----------------------- MENU FILTRI ------------------>

        <mat-menu #filterMenu="matMenu">
            <div class="filter-menu">

                <p class="filter-title">Filter by: </p>

                <label>
                    <input type="checkbox" (change)="toggleFilter('subject', $event)"
                        [checked]="folderService.getFilters()().subject"> Subject
                </label>

                <label>
                    <input type="checkbox" (change)="toggleFilter('sender', $event)"
                        [checked]="folderService.getFilters()().sender"> Sender
                </label>

                <label>
                    <input type="checkbox" (change)="toggleFilter('date', $event)"
                        [checked]="folderService.getFilters()().date"> Date
                </label>

            </div>
        </mat-menu>


        <!------------------------  ICONE DI DESTRA -------------------------------->
        <div class="search-icon">
            <button class="icon-btn" matTooltip="Search" matTooltipPosition="below"
                (click)="onSearch(searchInput.value)"><mat-icon
                    fontSet="material-symbols-outlined">search</mat-icon></button>
        </div>
    </div>


    <div class="header-right">
        <button class="icon-btn" matTooltip="Settings" matTooltipPosition="below">
            <mat-icon fontSet="material-symbols-outlined">settings</mat-icon>
        </button>

        <button class="icon-btn" matTooltip="Notifications" matTooltipPosition="below">
            <mat-icon fontSet="material-symbols-outlined">notifications</mat-icon>
        </button>


        <div class="user-avatar">

            <button class="icon-btn" matTooltip="User" matTooltipPosition="below" [matMenuTriggerFor]="userMenu">
                @if(!isLoggedIn()){
                <mat-icon fontSet="material-symbols-outlined">person</mat-icon>
                } @else {
                <span class="avatar-letter">
                    {{ currentUser()?.username?.[0]?.toUpperCase() ?? 'U'}}
                </span>
                }
            </button>

            <mat-menu #userMenu class="user-menu-panel">
                <!-------------------- NON LOGGATO ----------------------------->

                @if(!isLoggedIn()){

                <button mat-menu-item (click)="goToLogin(); $event.stopPropagation()">
                    <mat-icon>login</mat-icon>
                    <span>Login</span>
                </button>

                <button mat-menu-item (click)="goToRegister(); $event.stopPropagation()">
                    <mat-icon>person_add</mat-icon>
                    <span>Register</span>
                </button>

                } @else {

                <button mat-menu-item disabled>
                    <mat-icon>person</mat-icon>
                    <span>
                        {{ currentUser()?.username }}<br />
                        <small>{{ currentUser()?.email }}</small>
                    </span>
                </button>

                <button mat-menu-item (click)="logout(); $event.stopPropagation()">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </button>

                }

            </mat-menu>

        </div>

    </div>

</header>