<header class="header">

    <div class="header-left">

        <div class="logo">
            <mat-icon fontSet="material-symbols-outlined">mail</mat-icon>
            <span class="logo-text">Mail Client</span>
        </div>
    </div>


    <div class="header-center">
        <div class="search-box">
            <input type="text" placeholder="Search" />
            <button class="icon-btn" matTooltip="Filter by" matTooltipPosition="below"><mat-icon fontSet="material-symbols-outlined" style="transform: rotate(90deg);">instant_mix</mat-icon></button>
        </div>

        <div class="search-icon">
            <button class="icon-btn" matTooltip="Search" matTooltipPosition="below"><mat-icon fontSet="material-symbols-outlined">search</mat-icon></button>
        </div>

    </div>


    <div class="header-right">

        <button class="icon-btn" matTooltip="Settings" matTooltipPosition="below">
            <mat-icon fontSet="material-symbols-outlined">settings</mat-icon>
        </button>

        <button class="icon-btn" matTooltip="Notifications" matTooltipPosition="below">
            <mat-icon fontSet="material-symbols-outlined">notifications</mat-icon>
        </button>

        <!-- <span style ="font-weight: bold;">Login</span> -->
        <div class="user-avatar">
            <button class="icon-btn" matTooltip="User" matTooltipPosition="below">
                <mat-icon fontSet="material-symbols-outlined">person</mat-icon>
            </button>
        </div>
    </div>

</header>