.email-viewer {
    padding: 16px;
}

.emailViewer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 12px;
    padding-bottom: 8px;
}

.emailViewer-fromTo {
    color: #5f6368;
    font-size: 14px;
}


//////////////////////////////////////////////BODY//////////////////////////////////////////////

.emailViewer-body {
    font-size: 16px;
    line-height: 1.5;
}


//////////////////////////////////////////////ACTIONS//////////////////////////////////////////////

.emailViewer-actions {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.emailViewer-actions button {
    margin-right: 8px;
    padding: 6px 14px;
    background: rgb(221, 200, 200);
    border-radius: 6px;
    cursor: pointer;
}

.emailViewer-actions button:hover {
    background: rgb(248, 221, 221);
}


//////////////////////////////////////////////EMPTY STATE//////////////////////////////////////////////

.emailViewer-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #5f6368;
    text-align: center;

}

.emailViewer-empty-icon {
    font-size: 48px;
    margin-bottom: 10px;
}