<div class="auth-container">

    <div class="auth-card">

        <h2>Welcome to NoGmail 😅</h2>

        <input [(ngModel)]="username" placeholder="Username" />

        <input [(ngModel)]="email" placeholder="Email" />

        <!--------------------------------------------- PASSWORD --------------------------------------------->

        <div class="input-group">
            <input [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'" placeholder="Password" />

            <div class="pass-indicator-container">
                @if (password) {

                <ul class="password-rules">
                    <li [class.valid]="hasLowercase()">Lowercase</li>
                    <li [class.valid]="hasUppercase()">Uppercase</li>
                    <li [class.valid]="hasNumber()">Number</li>
                    <li [class.valid]="hasSpecial()">Special character</li>
                    <li [class.valid]="password.length >= 8">Min 8 characters</li>
                </ul>

                <p class="strength">
                    Strength:
                    <span [style.color]="getPasswordStrengthColor()">
                        {{ getPasswordStrength() }}
                    </span>
                </p>
                
                }

            </div>

            <!---------------------------- CONFERMA DELLA PASSWORD --------------------------------->
            
            <div class="confirm-password">
                <input [(ngModel)]="confirmPassword" [type]="showPassword ? 'text' : 'password'"
                    placeholder="Repeat Password" />
            </div>

            <!------------------------------ MOSTRA ERRORE LIVE ------------------------------------->

            @if (username && username.trim().length < 3) { <p class="error">Min 3 characters</p>
                }


                @if (password && confirmPassword && password !== confirmPassword) {
                <p class="error">Passwords do not match</p>
                }

            <!--------------------- VISIBILITÀ DELLA PASSWORD ------------------------>

                <button type="button" (click)="togglePasswordVisibility()">
                    <mat-icon>
                        {{ showPassword ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                </button>

        </div>

        <!------------------ DISABILITA IL PULSANTE DI REGISTRAZIONE SE I CAMPI NON SONO COMPLETI ----------------->
        <button class="primary-btn" [disabled]="!username || !email || !password || password !== confirmPassword"
            (click)="onRegister()">Register
        </button>


        <!-- MOSTRA ERRORE O SUCCESSO DOPO IL TENTATIVO DI REGISTRAZIONE -->
        @if (error()) {
        <p class="error">{{ error() }}</p>
        }

        @if(success()){
        <p class="success">{{ success() }}</p>
        }

        <p class="switch">
            Already have an account?
            <a (click)="goToLogin()">Login</a>
        </p>

    </div>

</div>