:root {
  --primary: rgb(221, 200, 200);
  --primary-dark: rgb(200, 170, 170);
  --primary-light: rgb(240, 225, 225);
}

h2 {
  text-align: center;
  color: #444;
}


///// CENTRA PAGINA
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg,
      var(--primary-light),
      white);
}


///// CARD 
.auth-card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  width: 340px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);

  border: 1px solid var(--primary);
  backdrop-filter: blur(4px);
}


///// INPUT
input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
}

input:focus {
  border-color: rgb(234, 162, 162);
  box-shadow: inset 0 1px 2px rgb(234, 162, 162), 0 1px 2px rgb(234, 162, 162);
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.input-group input {
  border: none;
  flex: 1;
}

.input-group button {
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
}


///// PULSANTE DI REGISTRAZIONE
.primary-btn {
  background: var(--primary);
  color: #333;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.primary-btn:hover {
  background: var(--primary-dark)
}

.primary-btn:disabled {
  background: #ddd;
  cursor: not-allowed;
}


///// REGOLE PASSWORD
.pass-indicator-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}

.password-rules {
  list-style: circle;
  padding-left: 20px;
  font-size: 12px;
}

.password-rules li {
  color: #e53935;
}

.password-rules li.valid {
  color: #2e7d32;
}

.strength {
  font-size: 13px;
  font-weight: bold;
  padding: 30px 20px 10px 10px;
}


///// CONFERMA PASSWORD
.confirm-password {
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.confirm-password input {
  border: none;
  width: 94%;
  padding: 10px;
  font-size: 14px;
}


///// ERRORE E SUCCESSO
.error {
  color: #d32f2f;
  font-size: 13px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.success {
  color: #2e7d32;
  font-size: 13px;
}


///// LINK A LOGIN
.switch {
  text-align: center;
  font-size: 14px;
}

.switch a {
  color: rgb(234, 155, 155);
  cursor: pointer;
  font-weight: 500;
}