<div class="main-page-container">

    <app-toolbar-component (nextMail)="nextEmail()" (prevMail)="previousEmail()" (delete)="onDeleteSelected()"
        (restore)="onRestoreSelected()" [isTrashView]="isTrashView()" (archive)="onArchive()"
        (moveRequested)="moveEmails($event)" [availableFolders]="availableFolders()"></app-toolbar-component>

    <div class="content">

        <div class="mail-list-container">
            <app-mail-list-component [emails]="allEmails()"
                (emailSelected)="onEmailSelected($event)"></app-mail-list-component>
        </div>

        <div class="mail-viewer-container">
            <app-mail-viewer-component [email]="selectedEmail()" (reply)="onReply($event)"
                (forward)="onForward($event)"></app-mail-viewer-component>
        </div>

    </div>

</div>