.main-page-container {
  display: flex;
  flex-direction: column;

  height: calc(100vh - 64px);

  background: white;
  border-radius: 16px;
  overflow: hidden;
  border: 1.5px solid #e0e0e0;
}


.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}


.mail-list-container {
  width: 40%;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}


.mail-viewer-container {
  width: 60%;
  overflow-y: auto;
}