.main-page-container {
  display: flex;
  flex-direction: column;

  height: calc(100vh - 64px);

  background: white;
  border-radius: 16px;
  overflow: hidden;
  border: 1.5px solid #e0e0e0;
  border-top: none;
  box-shadow: 0 0 0 0.3px #e0e0e0;
}

///// CONTENITORE LISTA EMAIL E VISUALIZZATORE EMAIL
.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

///// LISTA EMAIL 
.mail-list-container {
  width: 40%;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}


///// VISUALIZZATORE EMAIL
.mail-viewer-container {
  width: 60%;
  overflow-y: auto;
}