.toolbar {
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 16px;
  border-bottom: 1px solid #e0e0e0;
  background: rgb(248, 240, 240);
}

.Btn-noBorder {
  border: none;
  background: none;
  cursor: pointer;
}

.Btn-noBorder:hover {
  padding-top: 4px;
  background-color: rgb(248, 221, 221);
  border-radius: 50%;
}

///// CHECKBOX SELEZIONA TUTTO /////
.select-all-checkbox {
  border-radius: 50%;
  transition: background-color 0.2s ease;
  //scale: 0.9;
}

.select-all-checkbox:hover {
  background-color: rgb(248, 221, 221);
}


///// CONTAINER BOTTONI SINISTRA /////
.btn-container-left {
  display: flex;
  align-items: center;
  gap: 5px;
}


////// CONTAINER BOTTONI CENTRO /////
.btn-container-center {
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
}


///// CONTAINER BOTTONI DESTRA /////
.btn-container-right {
  display: flex;
  gap: 5px;
}

///// GRUPPO BOTTONI /////
.btn-group {
  display: flex;
  gap: 30px;
}

////// BOTTONI PREVIOUS E NEXT /////
.previous-next-btn {
  background-color: rgb(221, 200, 200);
  border-radius: 4px;
}

.previous-next-btn:hover {
  background-color: rgb(248, 221, 221);
  border-radius: 4px;
}


///// SPAZIO TRA I BOTTONI E IL CONTAINER DELLA SELEZIONE /////
.spacer {
  display: flex;
  flex: 1;
  border-right: 1px solid #e0e0e0;
}


////// CONTAINER SELEZIONE /////
.selection-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

///// CONTATORE DI SELEZIONE /////
.selection-counter {
  font-size: 14px;
  font-weight: 500;
  color: #5f6368;
  min-width: 20px;
}


//////////ANIMAZIONE ROTAZIONE ICONA REFRESH//////////

.rotating {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}