.toolbar {
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 16px;
  border-bottom: 1px solid #e0e0e0;
  background: rgb(248, 240, 240);
}

.Btn-noBorder {
  border: none;
  background: none;
  cursor: pointer;
}

.Btn-noBorder:hover {
  padding-top: 4px;
  background-color: rgb(248, 221, 221);
  border-radius: 50%;
}

/// Tutti i Checkbox
.select-all-checkbox {
  border-radius: 50%;
  transition: background-color 0.2s ease;
  //scale: 0.9;
}

.select-all-checkbox:hover {
  background-color: rgb(248, 221, 221);
}


.btn-container-left {
  display: flex;
  align-items: center;
  gap: 5px;
}


.btn-container-center {
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
}

.btn-group {
  display: flex;
  gap: 30px;
}

.btn-container-right {
  display: flex;
  gap: 5px;
}

.previous-next-btn {
  background-color: rgb(221, 200, 200);
  border-radius: 4px;
}

.previous-next-btn:hover {
  background-color: rgb(248, 221, 221);
  border-radius: 4px;
}

.spacer {
  display: flex;
  flex: 1;
  border-right: 1px solid #e0e0e0;
}


//////////ANIMAZIONE ROTAZIONE ICONA REFRESH//////////

.rotating {
  animation: spin 1s linear infinite; 
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

///////////////////////////////////////////COMMENTI////////////////////////////////////////////////////////
/// 
/// //.Btn-noBorder:hover 
/// // Aggiunge un effetto hover per i pulsanti delle icone
/// 
/// //border-radius: 50%; 
/// // Rende i pulsanti circolari
/// 
/// 
/// .btn-container { gap: 20px; 
/// //spazio tra i pulsanti
/// 
/// 
/// flex-wrap: wrap; 
/// //permette ai pulsanti di andare a capo se lo spazio è insufficiente
/// 
/// 
/// justify-content: space-between; 
/// //distribuisce i pulsanti in modo uniforme con spazio tra di loro
/// 
/// 
/// .btn-group {gap: 20px; 
/// //spazio tra i pulsanti all'interno del gruppo
/// 
/// 
/// border-right: 1px solid #e0e0e0; 
/// //linea di separazione tra i gruppi di pulsanti
/// 
/// 
/// padding-right: 20px; //
/// spazio a destra del gruppo di pulsanti
/// 
/// 
/// .spacer {flex: 1; 
/// //significa che l'elemento occupa tutto lo spazio disponibile, spingendo gli altri elementi verso i bordi del contenitore