<section class="toolbar">

    <button mat-icon-button class="Btn-noBorder">
        <mat-icon>arrow_back</mat-icon>
    </button>

    <div class="btn-container">
        <div class="btn-group">
            <button mat-icon-button class="Btn-noBorder">
                <mat-icon>archive</mat-icon>
            </button>

            <button mat-icon-button class="Btn-noBorder">
                <mat-icon>report</mat-icon>
            </button>

            <button mat-icon-button class="Btn-noBorder">
                <mat-icon>delete</mat-icon>
            </button>
        </div>

        <div class="btn-group">
            <button mat-icon-button class="Btn-noBorder">
                <mat-icon>mark_email_unread</mat-icon>
            </button>

            <button mat-icon-button class="Btn-noBorder">
                <mat-icon>watch_later</mat-icon>
            </button>

            <button mat-icon-button class="Btn-noBorder">
                <mat-icon>check_circle</mat-icon>
            </button>
        </div>

        <div class="btn-group" style="border-right: none">
            <button mat-icon-button class="Btn-noBorder" style="padding-bottom: 3px;">
                <mat-icon>next_week</mat-icon>
            </button>

            <button mat-icon-button class="Btn-noBorder">
                <mat-icon>label</mat-icon>
            </button>

            <button mat-icon-button class="Btn-noBorder">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </div>

    <span class="spacer"></span>

    <button mat-icon-button>
        <mat-icon>chevron_left</mat-icon>
    </button>

    <button mat-icon-button>
        <mat-icon>chevron_right</mat-icon>
    </button>

</section>