<section class="toolbar">

    <!-- GRUPPO BOTTONI SINISTRA -->
    <div class="btn-container-left">
        <div class="selection-container">
            <!-- <input type="checkbox" [checked]="allSelected" (change)="toggleSelectAll($event)"  matTooltip="Select All" matTooltipPosition="above" /> -->
            <mat-checkbox [checked]="allSelected()" [indeterminate]="isPartiallySelected()"
                (change)="toggleSelectAll($event)" matTooltip="Select All" matTooltipPosition="below"
                class="select-all-checkbox"></mat-checkbox>

            @if (selectedCount() > 0) {
            <span class="selection-counter">
                {{ selectedCount()}}
            </span>
            }

            <button mat-icon-button class="Btn-noBorder" matTooltip="Refresh" matTooltipPosition="above"
                (click)="onRefresh()">
                <mat-icon [class.rotating]="loading()">refresh</mat-icon>
            </button>
        </div>
    </div>

    <!------------------------------------- GRUPPO BOTTONI CENTRO ---------------------------------->

    <div class="btn-container-center">

        <!-------------------------------------ARCHIVE, SPAM, DELETE & RESTORE ---------------------------------->
        <div class="btn-group">
            @if (canArchive()) {
            <button mat-icon-button class="Btn-noBorder" matTooltip="Archive" matTooltipPosition="below"
                (click)="onArchive()">
                <mat-icon>archive</mat-icon>
            </button>
            }

            <button mat-icon-button class="Btn-noBorder" matTooltip="Spam" matTooltipPosition="below">
                <mat-icon>report</mat-icon>
            </button>

            <button mat-icon-button class="Btn-noBorder" matTooltip="Delete" matTooltipPosition="below"
                (click)="onDelete()">
                <mat-icon>delete</mat-icon>
            </button>

            @if (isTrashView) {
            <button mat-icon-button class="Btn-noBorder" matTooltip="Restore" matTooltipPosition="below"
                (click)="onRestore()">
                <mat-icon>restore_from_trash</mat-icon>
            </button>
            }
        </div>

        <div class="spacer"></div>

        <!------------------------------------------UNREAD, SNOOZE & READ------------------------------------->

        <div class="btn-group">
            <button mat-icon-button class="Btn-noBorder" matTooltip="Unread" matTooltipPosition="below">
                <mat-icon>mark_email_unread</mat-icon>
            </button>

            <button mat-icon-button class="Btn-noBorder" matTooltip="Snooze" matTooltipPosition="below">
                <mat-icon>watch_later</mat-icon>
            </button>

            <button mat-icon-button class="Btn-noBorder" matTooltip="Read" matTooltipPosition="below">
                <mat-icon>check_circle</mat-icon>
            </button>
        </div>

        <div class="spacer"></div>

        <!------------------------------------ SPOSTA IN, LABEL & MORE ---------------------------------------->

        <div class="btn-group" style="border-right: none">

            <!----------------------------- PULSANTE "SPOSTA IN"------------------------------------------->

            <button mat-icon-button [matMenuTriggerFor]="moveMenu" class="Btn-noBorder" style="padding-bottom: 3px;"
                matTooltip="Move to" matTooltipPosition="below">
                <mat-icon>drive_file_move</mat-icon>
            </button>

            <!---------------------------- MENU "SPOSTA EMAIL" ---------------------------------->

            <mat-menu #moveMenu="matMenu">

                @for (folder of availableFolders; track folder.id) {

                <button mat-menu-item (click)="moveTo(folder.id)">

                    <mat-icon>{{ folder.icon }}</mat-icon>

                    {{ folder.name }}

                </button>

                }

            </mat-menu>


            <!------------------------------LABEL & MORE ------------------------------------ -->

            <button mat-icon-button class="Btn-noBorder" matTooltip="Label" matTooltipPosition="below">
                <mat-icon>label</mat-icon>
            </button>

            <button mat-icon-button class="Btn-noBorder" matTooltip="More" matTooltipPosition="below">
                <mat-icon>more_vert</mat-icon>
            </button>

        </div>
    </div>
    <!------------------------------------------------ GRUPPO BOTTONI DESTRA ---------------------------------------->

    <div class="btn-container-right">
        <button mat-icon-button matTooltip="Previous email" matTooltipPosition="below" class="previous-next-btn"
            (click)="onPrev()">
            <mat-icon>chevron_left</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Next email" matTooltipPosition="below" class="previous-next-btn"
            (click)="onNext()">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>

</section>