.email-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  
  display: flex;
  align-items: center;
  padding: 8px;

}

.email-item:hover {
  background-color: #cfd0d1;;
}

.email-details {
  flex: 1;
  cursor: pointer
}


//////////////CHECKBOX////////////////////

.selected {
  background-color: #e8f0fe; /* stile Gmail */
}


/////////////////DETTAGLI////////////////////

.email-subject {
  font-weight: bold;
}

.email-sender {
  color: #555;
}

.email-timestamp {
  color: #999;
  font-size: 0.9em;
}


///////////////STATO VUOTO//////////////////

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #5f6368;
  text-align: center;
}

.empty-state .icon {
  font-size: 48px;
  margin-bottom: 10px;
}

.empty-state h3 {
  margin: 8px 0;
  font-weight: 500;
}

.empty-state p {
  font-size: 14px;
}



////////////////////////////COMMENTI/////////////////////////////////


//.selected è una classe CSS che viene applicata all'elemento .email-item quando l'email è selezionata. 
//In questo caso, cambia lo sfondo dell'email per indicare visivamente che è stata selezionata.
//[class.selected] è una sintassi Angular che permette di aggiungere o rimuovere dinamicamente la classe CSS selected in base al risultato della funzione isSelected(email).
