@for(email of emails; track email.id){

<div class="email-item" (click)="selectEmail(email)" [class.selected]="email.selected">

  <!-- <input type="checkbox" (click)="$event.stopPropagation()" [checked]="isSelected(email)"
    (change)="toggleSelection(email)" /> -->

  <!-- <input type="checkbox" (click)="$event.stopPropagation()" [(ngModel)]="email.selected" /> -->
  <!-- <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="email.selected"></mat-checkbox> -->
  <mat-checkbox (click)="$event.stopPropagation()" [checked]="email.selected"
    (change)="onSelectionChange(email, $event)" class="select-all-checkbox"></mat-checkbox>

  <div class="email-details">
    <!-- <div class="email-subject">{{email.subject}}</div> -->
    <div class="email-subject" [innerHTML]="highlight(email.subject)"></div>

    <!-- <div class="email-sender">{{email.sender}}</div> -->
    <div class="email-sender" [innerHTML]="highlight(email.sender)"></div>

    <div class="email-timestamp">{{email.timestamp | date:'short'}}</div>
  </div>

  <!------------------------------- PREFERITI ---------------------------------------------->

  <div class="star-label-group">
    <!-- <span class="star" (click)="toggleStar(email); $event.stopPropagation()">
      {{ email.starred ? '⭐' : '☆' }}</span> -->

    <mat-icon (click)="toggleStar(email)">
      {{ email.starred ? 'star' : 'star_border' }}
    </mat-icon>

    <span class="label">
      {{ email.label }}
    </span>

  </div>

  <!-- ------------------------ MESSAGGI VUOTI -------------------------------->
</div>

} @empty {

<div class="empty-state">
  <div class="icon">📭</div>
  <h3>No messages to display</h3>
  <p>Your inbox is empty</p>
</div>

}