// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  // background-color: var(--mat-sys-surface);
  background-color: rgb(248, 240, 240);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}

/* You can add global styles to this file, and also import other style files */

//////////////////////////////////////////////// CUSTOM SNACKBAR//////////////////////////////////////////////////

//container 
.custom-snackbar .mdc-snackbar__surface {
  background-color: rgb(227, 191, 191) !important;
  border-radius: 8px;
  text-align: center;
}

//testo 
.custom-snackbar .mdc-snackbar__label {
  font-size: 16px !important;
}

///////////////////////////////////////////MENU FILTRI/////////////////////////////////////////////////////////////

.filter-menu {
  background-color: rgb(248, 240, 240);
  padding: 0 16px;
  margin-bottom: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 180px;
}


.filter-title {
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 16px;
  color: #555;
}


.filter-menu label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  cursor: pointer;
}


.mat-mdc-menu-panel {
  background-color: rgb(248, 240, 240) !important;
  border-radius: 12px !important;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}


.filter-menu input[type="checkbox"] {
  accent-color: rgb(242, 210, 210);
}

//////////////////////////////////////SEARCH TERM////////////////////////////////////////////////////////////////
// mark per evidenziare le parole chiave nella lista delle email
mark {
  background-color: rgb(236, 184, 184);
  padding: 0 2px;
  border-radius: 2px;
}

/////////////////////////////////////// CUSTOM CHECKBOX///////////////////////////////////////////////////////////

.mdc-checkbox__background {
  border: outset 2px black !important;
  //  transform: scale(0.9);
}

//cambia colore del background quando il checkbox è selezionato
.mat-mdc-checkbox.mat-mdc-checkbox-checked .mdc-checkbox__background,
.mat-mdc-checkbox.mat-mdc-checkbox--selected .mdc-checkbox__background {
  background-color: rgb(213, 166, 166) !important;
  border-color: rgb(95, 41, 41) !important;
}

//cambia colore del checkmark
.mdc-checkbox__checkmark-path {
  stroke: rgb(95, 41, 41) !important;
}


// Angular non sta usando una classe per il trattino indeterminato, 
// quindi dobbiamo usare un selettore di attributo per selezionare il trattino indeterminato.
.mdc-checkbox__native-control[aria-checked="mixed"]~.mdc-checkbox__background {
  background-color: rgb(241, 232, 232) !important;
  border-color: rgb(95, 41, 41) !important;
}

// Cambia il colore del trattino indeterminato
.mdc-checkbox__native-control[aria-checked="mixed"]~.mdc-checkbox__background .mdc-checkbox__mixedmark {
  background-color: rgb(95, 41, 41) !important;
  width: 10px !important;
  height: 2px !important;
}


// Rimuove l'effetto ripple dai checkbox. 
.mdc-checkbox__ripple {
  display: none !important;
}

// Anche se il ripple è disabilitato, Angular Material aggiunge ancora un elemento di ripple.
.mat-mdc-checkbox-ripple {
  display: none !important;
}


//////////////////////////////////////////SPINNER E PROGRESS BAR///////////////////////////////////////////////////

// Cambio colore dello spinner
.mdc-circular-progress__indeterminate-circle-graphic {
  stroke: rgb(221, 200, 200) !important;
}


// cambio colore della barra di caricamento
.mat-mdc-progress-bar .mdc-linear-progress__buffer .mdc-linear-progress__buffer-bar {
  height: 6px !important;
  border-radius: 3px !important;
  background-color: rgb(248, 221, 221) !important;
}

// cambio colore della barra di progresso
.mat-mdc-progress-bar .mdc-linear-progress__bar-inner {
  border-color: rgb(231, 157, 157) !important;
}


//////////////////////////////////////////INPUT FIELDS/////////////////////////////////////////////////////////////

// bordo del campo di input e  testo dell'etichetta (mat-label) 
/* Colore del bordo in stato normale (apparenza outline) */
.mat-mdc-form-field-type-mat-input .mdc-notched-outline__leading,
.mat-mdc-form-field-type-mat-input .mdc-notched-outline__notch,
.mat-mdc-form-field-type-mat-input .mdc-notched-outline__trailing {
  border-color: grey !important;
}

/* Colore del bordo quando il campo è selezionato (focused) */
.mat-mdc-form-field.mat-focused .mdc-notched-outline__leading,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__notch,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__trailing {
  border-color: rgb(231, 147, 147) !important;
}

/* Colore dell'etichetta (mat-label) */
.mat-mdc-form-field .mat-mdc-floating-label {
  color: grey !important;
}

/* Colore dell'etichetta quando il campo è selezionato */
.mat-mdc-form-field.mat-focused .mat-mdc-floating-label {
  color: rgb(231, 147, 147) !important;
}