.confirm-dialog-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 240, 240);
}

.proceed-btn {
    font-weight: bold;
    color: white !important;
    background-color: rgb(241, 133, 133) !important;
}

.proceed-btn:hover {
    background-color: red !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color .2s ease;
}

.cancel-btn {
    color: rgb(241, 133, 133) !important;
    font-weight: bold;
}

.cancel-btn:hover {
    background-color: rgb(248, 221, 221);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color .2s ease;
}


///////////////////////////////////////////////////////////////COMMENTI//////////////////////////////////////////////////////////////////

/// !important significa che questa regola CSS avrà la precedenza su qualsiasi altra regola che potrebbe essere applicata al pulsante, 
/// anche se ci sono altre regole che specificano un colore diverso per il testo del pulsante.