.confirm-dialog-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 240, 240);
}

.proceed-btn {
    color: rgb(241, 133, 133) !important;
    font-weight: bold;
}

.proceed-btn:hover {
    background-color: rgb(248, 221, 221);
}



//////////////////////COMMENTI//////////////////////////
/// 
/// !important significa che questa regola CSS avrà la precedenza su qualsiasi altra regola che potrebbe essere applicata al pulsante, anche se ci sono altre regole che specificano un colore diverso per il testo del pulsante.