///// CONTAINER SIGNATURE DIALOG
.signature-dialog {
    display: flex;
    flex-direction: column;
    // per dargli più spazio in modo che non debba scrollare
    min-height: 620px;
}


///// HOST (SELETTORE) DEL DIALOG
:host {
    display: block;
}


///// TITOLO DIALOG
.signature-title {
    display: flex;
    gap: 8px;
    background: rgb(236, 226, 226);
    padding: 22px 22px;
    margin-top: -2px;
    font-weight: 500;
    font-size: 22px;
}


///// CONTENUTO DEL DIALOG
mat-dialog-content {
    min-width: 350px;
    padding-top: 1px !important;
}


///// DESCRIZIONE DELLA FUNZIONALITÀ
.description {
  color: #5f6368;
  font-size: 14px;
  text-align: center;
}


mat-form-field {
    width: 100%;
    padding-top: 8px;
}


///// AREA DI TESTO PER LA FIRMA
textarea {
  resize: vertical;
  min-height: 80px;
}


///// SPAZIO PER LA PREVIEW DELLA FIRMA
.preview-section {
  margin-top: -10px;
}


///// BOX DI PREVIEW DELLA FIRMA (AREA DI TESTO NON MODIFICABILE)
.preview-box {
  border: 1px solid #dadce0;
  border-radius: 8px;
  padding: 12px;
  margin-top: -10px;
  background: #fafafa;
  white-space: pre-wrap;
}


///// TOGGLE PER ABILITARE/DISABILITARE LA FIRMA
mat-slide-toggle {
  margin-top: 16px;
}


///// BOTTONE DELETE
.delete-btn {
    color: rgb(241, 133, 133) !important;
    font-weight: bold;
    border: 1px solid rgb(241, 133, 133) !important;
}

.delete-btn:hover {
    background-color: rgb(248, 221, 221);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color .2s ease;
}


///// BOTTONE SAVE
.save-btn {
    font-weight: bold;
    color: white !important;
    background-color: rgb(241, 133, 133) !important;
}

.save-btn:hover {
    background-color: red !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color .2s ease;
}
